@import "tailwindcss";

@tailwind utilities;
.gsap2 {
    article {
        @apply grid gap-8 p-8;
        @apply grid-cols-4 grid-rows-3;
        background: linear-gradient(to left,#c5252f,#2657a5);
        div {
            @apply bg-[#fff] rounded-4xl;
        }
    }
}