@import "tailwindcss";

@tailwind utilities;
.gsap4 {
    article {
        overflow: hidden;
        @apply grid gap-8 p-8;
        @apply grid-cols-1 grid-rows-2;
        background: linear-gradient(to left, #c5252f, #2657a5);

        li {
            @apply bg-[#fff] rounded-4xl;
        }

        ul {
            @apply w-[300vw];
            @apply grid gap-8 p-8;
            @apply grid-cols-10 grid-rows-1;
        }
    }
}